.header.container {
  padding-top: 33px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 127px;
}

.logo img {
  width: 100%;
}

.header__nav ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.header__link a {
  padding-bottom: 2px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #121212;
  border: none;
  border-bottom: 1px solid transparent;
}

.header__link a:hover {
  opacity: 0.5;
  border-bottom: 1px solid #121212;
}
